*.iml
.idea/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
INSTRUCTIONS.md
dataset_preparation.py
train_fruit_model.py
convert_keras_to_tflite.py
quick_val_test.py
test_tflite_inference.py
test_android_model.py
test_correct_dataset.py
test_float32.py